@mixin child {
    .cover {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        cursor: pointer;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .info {
        margin-left: 14px;
        margin-right: 1px;
        overflow: hidden;

        .title {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .artists {
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }


    .like {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border: 0;
        background: transparent;

        &:focus {
            outline: none;
        }
    }
}

.left {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include child()
}

.leftShifted {
    transform: translateX(-72px);
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include child()
}