.container {
    grid-area: main-view;
    width: 100%;
    position: relative;
    height: calc(100vh - 90px);
    opacity: 0;

    animation: fadeIn 0.5s 1s ease-in forwards;
    -webkit-animation: fadeIn 0.5s 1s ease-in forwards;
    -moz-animation: fadeIn 0.5s 1s ease-in forwards;
    -o-animation: fadeIn 0.5s 1s ease-in forwards;

    .viewNode {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        min-height: 0;
        height: 100%;
        overflow-y: scroll;

        .space {
            position: sticky;
            top: 0;
            height: 60px;
        }

        .wrapper {
            display: grid;
            grid-gap: 32px;
            padding: 0 32px;
            overflow-y: scroll;

            .block {
                display: flex;
                flex-direction: column;
                min-height: 300px;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}