.context {
    display: flex;
    align-items: center;
    flex: 1 1 30%;
    padding: 0 32px;
    white-space: nowrap;

    button {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: 0;
        border-radius: 50px;
        background-color: #1db954;

        &:focus {
            outline: none;
        }
    }


    .title {
        font-size: 24px;
        font-weight: 700;
        padding: 0 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50%;
    }
}