.context {
    display: flex;
    align-items: center;
    padding-left: 32px;
    width: 100%;
    justify-content: flex-start;
    white-space: nowrap;

    button {
        width: 40px;
        height: 40px;
        flex: 0 0 auto;
        cursor: pointer;
        border: 0;
        border-radius: 50px;
        background-color: #1db954;

        &:focus {
            outline: none;
        }
    }


    .title {
        font-size: 24px;
        font-weight: 700;
        padding: 0 16px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}