.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .product {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        background-color: #ffffff;
        border-radius: 2px;
        margin-bottom: 0.5rem;
    }

    .placeholder {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background: #ffffff;
    }

    .profilePicture {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: -3px -3px 5px #ffffff,
            3px 3px 5px #5e6879;
    }

    .name {
        margin: 1rem;
        font-weight: 700;
    }

}